<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}

        <!--link rel="icon" type="image/x-icon" href="../static/img/fav.ico"-->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="css/tailwind.css" rel="stylesheet">
        <title>Cafe</title>
    </head>
    <body class="bg-gray-50 font-serif leading-normal tracking-normal">
        <div class="container">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    {% if cafe %}
                        <h1>{{cafe.name}}</h1>
                        <br>
                        <h3>{{cafe.address}}</h3>
                    {% else %}
                        <h1>Sorry, no cafe chosen.</h1>
                    {% endif %}
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <footer class="flex flex-col items-center bg-zinc-50 text-center text-surface dark:bg-neutral-700 dark:text-white">2024 | Eaton Apps</footer>
    </body>
</html>