<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}

        <!--link rel="icon" type="image/x-icon" href="../static/img/fav.ico"-->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <title>Cafe</title>
    </head>
    <body class="w-full h-screen">
        <div class="bg-cover bg-center h-screen" style="background-image: url('../static/img/bg.jpeg')">
            <div class="w-full h-screen flex flex-col backdrop-blur-md">
                <header class="bg-white">
                    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
                        <div class="flex lg:flex-1">
                            <a href="#" class="-m-1.5 p-1.5">
                                <h2 class="font-semibold hover:text-green-600">CAFEMAP</h2>
                            </a>
                        </div>
                        <div class="hidden lg:flex lg:gap-x-12">
                            <a href="#" class="text-sm leading-6 text-gray-900 hover:text-green-600">About</a>
                            <a href="#" class="text-sm leading-6 text-gray-900 hover:text-green-600">Map View</a>
                            <a href="#" class="text-sm font-bold leading-6 text-gray-900 hover:text-green-600">List View</a>
                        </div>
                        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                            <a href="login" class="text-sm font-semibold leading-6 text-gray-900 hover:text-green-600">Log in</a>
                        </div>
                    </nav>
                </header>
                <div class="justify-center items-center h-screen">
                    <h1 class="mt-5 mb-10 text-center text-4xl text-white font-semibold drop-shadow-lg">WELCOME TO CAFEMAP</h1>
            
                    {% if cafes %}
                        {% for cafe in cafes %}
                            <div class="relative bg-white px-6 pt-10 pb-10 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-md sm:px-10 flex font-sans">
                                <div class="flex-none w-48 relative">
                                    <img src="../static/img/cafe.jpeg" alt="typical cafe pic" class="absolute inset-0 w-full h-full object-cover rounded-md" loading="lazy" />
                                </div>
                                <div class="flex-auto p-6">
                                    <div class="flex flex-wrap pb-4">
                                        <h1 class="flex-auto text-lg font-semibold text-slate-900">
                                            {{cafe.name}}
                                        </h1>
                                        <div class="flex-auto w-full">{{cafe.address_one}}</div>
                                        <div class="flex-auto w-full">{{cafe.address_two}}</div>
                                    </div>
                                    <div class="flex space-x-4 text-sm font-medium">
                                        <div class="flex-auto flex space-x-4">
                                            <a href="{{cafe.link}}" class="flex items-center justify-center h-10 px-6 font-semibold rounded-md bg-black text-white hover:bg-green-600">
                                            View
                                            </a>
                                            <a href="#" class="flex items-center justify-center h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900 hover:bg-green-600 hover:text-white">
                                            Directions
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h1>Sorry, looks like we don't have a database set up.</h1>
                    {% endif %}
                </div>
            
                <footer class="flex flex-col items-center bg-zinc-50 text-center text-surface dark:bg-neutral-700 dark:text-white">2024 | Eaton Apps</footer>
            </div>
        </div>

    </body>
</html>